html {height: 100%; -webkit-user-select:  none; background-color: #1F4D73;}
body {height:100%; margin: 0; font-family:Lucida Console;}
button {font-family:Lucida Console;}
input {font-family:Lucida Console;}

.main-content
{
    height: 100%;
    display: grid;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 600px) minmax(100px, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    background-image: url("../lib/assets/background.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 600px;
}

.top img
{
    max-width: 700px;
    align-self: flex-end;
    padding-bottom: 30px;
}

.top 
{
    grid-row: 1;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-content
{
    grid-row: 2;
    grid-column: 2;
    display: table;
    width: 100%;
    
}

.login 
{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    max-width: 600px;
}

.login input[type=text], input[type=password], input[type=email]
{
    width:  100%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-family:Lucida Console;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    background-color: #8BC5F4;
    color: #000;
    outline: none;
    border: 1px solid rgba(22, 56, 82, 1); 
    padding: 15px;
}

.lower-login label
{
    margin-right: 15px;
}


.lower-login
{
    margin-top: 15px;
    display: block;
    text-align: left;
}

.login button
{
    width: 50%;
    outline: none;
    font-family:Lucida Console;
    font-style: normal;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid rgba(22, 56, 82, 1); 
    background-color: #2F4252;
    color: white;
    padding: 15px;
}

.login button:hover
{
    background-color: #8BC5F4;
    color: black;
}