html {height: 100%; -webkit-user-select:  none; font-family:Lucida Console;}
body {height:100%;}
button {font-family:Lucida Console;}
input {font-family:Lucida Console;}
button:focus {outline: none;}
input:focus {outline: none;}
::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 5px gray;
    border-radius: 10px;
    background-color: #8BC5F4;
}
::-webkit-scrollbar-thumb
{
    width: 10px;
    background-color: #2B6A9E;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover
{
    background-color: #2F4252;
}

.x-button
{
    position: absolute;
    right: 0;
    color: white;
    padding: 10px;
}

.menu-options
{
    margin: 0;
}

.chat-log li
{
    margin: 15px;
    border-radius: 15px;
    background-color: #8BC5F4;
}

.author-content
{
    text-decoration: underline;
    font-family:Lucida Console;
    font-style: normal;
    font-weight: bolder;
}

.chat-log li span 
{
    display: block;
}

.message-content
{
    margin-top: 15px;
    font-family:Lucida Console;
    font-style: normal;
}

.menu-options li 
{
    display: block;
}

.menu-options li a
{
    padding: 15px;
    display: block;
}

.menu-options li a:hover
{
    background-color: #8BC5F4;
}

.x-button:hover
{
    background-color: #8BC5F4;
}

.user-info
{
    grid-row: 2;
    grid-column: 2;
}

.setting-menu li a:hover
{
    background-color: #2B6A9E;
}

.setting-menu li a
{
    display: block;
    padding: 15px;
}

.main-setting button
{
    background-color: #8BC5F4;
    border: none;
    margin: 10px 0px;
    width: 100px;
    padding: 15px;
    font-size: 16px;
    display: block;
    border-radius: 15px;
}

.main-setting button:hover
{
    background-color: #41A3F2;
}

.user-info button:hover
{
    background-color: #41A3F2;
}

.user-info button
{
    background-color: #8BC5F4;
    border: none;
    margin: 10px 0px;
    width: 200px;
    padding: 15px;
    font-size: 16px;
    display: block;
    border-radius: 15px;
}

.delete-btn:hover
{
    background-color: #f55f5f !important;
}

.delete-btn
{
    
    background-color: #de0404 !important;
}

.setting-menu
{
    top: 50px;
    left: 15px;
    margin: 0;
    margin-top: 15px;
    list-style-type: none;
    position: absolute;
    display: none;
    background-color: #1F4D73;
}

.profile-image
{
    grid-row: 1;
    grid-column: 1;
}

.username-display span
{
    display: block;
    width: 100%;
    background-color: #8BC5F4;
    padding: 16px;
    border-radius: 15px;
}

.username-display
{
    display: flex;
    grid-column: 2;
    justify-content:left;
    align-items: center;
}

.input-pane input[type=password], input[type=text]
{
    padding: 5px;
    font-size: 15px;
    width: 100%;

}

.input-pane::after
{
    clear: both;
}

.input-pane label
{
    display: block;
    margin: 10px 0px;
}

.input-pane button:hover
{
    background-color: #41A3F2;
}

.input-pane button
{
    background-color: #8BC5F4;
    border: none;
    border-radius: 15px;
    margin: 10px 0px;
    padding: 16px;
    margin: 5px 5px;
}

.input-pane
{
    min-width: 100%;
    grid-row: 2;
    grid-column: 3;
    display: none;
}

.output-setting
{
    grid-row: 2;
    grid-column: 2;
}

.slider 
{
    margin: 10px 0px;
    -webkit-appearance: none;
    width: 100%;
    height: 16px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover 
{
    opacity: 1;
}

.slider::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #41A3F2;
    cursor: pointer;
    border-radius: 15px;
}

.main-setting
{
    display: grid;
    grid-template-columns: 100px 300px auto auto;
    grid-template-rows: 100px auto auto auto;
}

.profile-setting
{
    grid-gap: 15px;
    height: calc(100vh - 75px);
    margin-top: 15px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 100px minmax(100px, 300px) minmax(100px, 300px) auto auto;
    grid-template-rows: 100px 1fr 1fr 1fr 1fr;
}

.setting-left
{
    height: calc(100vh - 80px);
    grid-column: 1;
}

.setting-right
{
    height: calc(100vh - 80px);
    grid-column: 2;
}

.profile-display
{
    visibility: hidden;
    display: grid;
    grid-template-columns: 150px 1fr;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2F4252;
    z-index: 100;
}

.top-bubbles span
{
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: #8BC5F4;
    border-radius: 50%;
    margin: 10px;
}

.top-bubbles img
{
    display: block;
    margin: auto;
    border-radius: 50%;
}

.profile-bubble
{
    grid-column: 1;
}

.friends-bubble
{
    grid-column: 2;
}

.top-bubbles
{
    display: grid;
    grid-row: 1;
    grid-column: 1 / span 3;
    grid-template-rows: 65px;
    grid-template-columns: 65px 65px 65px 65px;
}

.bottom-panel
{
    grid-row: 2;
    grid-column: 1;
}

.top-panel
{
    overflow: auto;
    grid-row: 1;
    grid-column: 1;
}

.channel-list ul
{
    display: block;
    
    padding: 0px;
    margin: 0px;
}
.channel-list a:hover
{
    cursor: pointer;
    background-color: #2F4252;
}
.channel-list a
{
    display: inline-block;
    padding: 5px;
    width: 100%;
}

.member_list
{
    margin: 0;
    margin-top: 15px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.member_list li
{
    display: block;
}

.member_list a
{
    width: 100%;
    padding: 15px;
    display: block;
}

.member_list li a:hover
{
    background-color: #41A3F2;
    cursor: pointer;
}

.side-panel-left
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: calc(100vh - 130px) 50px;
    background-color: #388ED1;
    overflow:auto;
    grid-row: 3;
    grid-column: 1;
    height: calc(100vh - 80px);
}

.side-panel-right
{
    overflow: hidden;
    grid-row: 3;
    grid-column: 3;
    display: grid;
    grid-template-rows: auto 1fr;
    height: calc(100vh - 80px);
}

.side-panel-left button
{
    width: 50px; background: #41A3F2; border: none; padding: 10px; width: 100%;
}

.side-panel-left button:hover { background-color: #2B6A9E; }

.chat-window
{
    overflow: auto;
    grid-row: span 2;
    background-color: #2F4252;
    display: grid;
    grid-template-rows: 50px 15px auto 15px;
    grid-template-columns: minmax(100px, 150px) 1fr minmax(150px, 250px) ;
    width: 100%;
}

.chat-name
{
    grid-row: 1;
    width: 100%;
}

.message-log
{
    margin-top: 15px;
    grid-row: 2;
    overflow: auto;
    background-color: #388ED1;
}
.chat
{
    grid-column: 2;
    grid-row: 3;
    height: calc(100vh - 80px);
    overflow:auto;
    margin-right: 15px;
    margin-left: 15px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.member-pan p{
    text-align: center;
}

.message-sec
{
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 15px;
}
* { margin: 0; padding: 0; box-sizing: border-box; } */
body { font: 13px Helvetica, Arial; }
.message-sec input { border: 0; padding: 10px; grid-column: 0; width: 100%; background-color: #8BC5F4;}
.message-sec input:focus, button:focus{outline: none;}
.message-sec button { width: 50px; background: #41A3F2; border: none; padding: 10px; grid-column: 1S; width: 100%;}
.message-sec button:hover { background-color: #2B6A9E; }
#messages { list-style-type: none; margin: 0; padding: 0; word-break:break-all;}
#messages li { display: block; padding: 10px; }

.server-btn
{
    padding: 12px 16px;
    height: 50px;
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color: #41A3F2;
    vertical-align: baseline;
}
.select-drop
{
    position: relative;
    display: inline-block;
    width: 100%;
    grid-row: 1;
    margin-bottom: 15px;
}


.server-list {
    padding: 0;
    display: none;
    position: absolute;
    float: right;
    background-color: #8BC5F4;
    overflow: auto;
    max-height: 500px;
    width: 100%;
}

.server-list a{
    padding: 15px;
    width: 100%;
    display: inline-block;
}

.server-list a:hover{
    background: #2F4252;
    cursor: pointer;
}

.server-btn:hover{
    cursor: pointer;
}

.show {
    display: block;
}

.member-pan
{
    background-color: #2B6C9E;
    grid-row: 2;
}
